<div class="row">
  <div class="col-12">
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    <div class="card" style="width: 50rem;">
      <div class="card-body">

        <span type="button" class="btn btn-link" (click)="addCategory(null)">
          Click to add main category
        </span>

        <app-tree-view>
          <app-tree-node-view *ngFor="let node of treeList" [node]="node">
            | {{node.name}}
            &nbsp;
            <span class="tree-actions rounded rounded-pill float-right">
              <span class="custom-control custom-switch" style="display:inline"
                matTooltip="Click to {{node.status=='Y'?'disable':'enable'}} category for {{node.name}}"
                matTooltipClass="tooltip-green">
                <input type="checkbox" class="custom-control-input" id="customSwitch{{node.object.id}}"
                  checked="{{node.status=='Y'?true:false}}" (change)="categoryEnableDisable($event,node.object)">
                <label class="custom-control-label cursor-hand" for="customSwitch{{node.object.id}}"></label>
              </span>
              &nbsp;
              <span class="cursor-hand" (click)="updateCategory(node.object)"
                matTooltip="Click to edit category">Edit</span>
              &nbsp;
              <span class="cursor-hand">
                <fa-icon [icon]="icon_faPlus" (click)="addCategory(node.object)"
                  matTooltip="Click to add sub category for {{node.name}}"
                  matTooltipClass="tooltip-red"></fa-icon>
              </span>
            </span>
          </app-tree-node-view>
        </app-tree-view>

      </div>
    </div>
  </div>
</div>
