<div class="row">
  <div class="col-12">

    <!-- header part -->
    <h4 *ngIf="parent_category==null else subcathead">
      Add main category
    </h4>
    <ng-template #subcathead>
      <h4>
        Add sub category for "{{parent_category.name}}"
      </h4>
    </ng-template>
    <!-- ----------------- -->
    <div>
      <form [formGroup]="itemCategoryService.form" autocomplete="false">
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Category Name</mat-label>
            <input matInput placeholder="Category Name" formControlName="name" required>
            <mat-error *ngIf="itemCategoryService.form.controls.name.hasError('required')">
              Category name required.
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Category Code</mat-label>
            <input matInput placeholder="Category Code" formControlName="code" required>
            <mat-error *ngIf="itemCategoryService.form.controls.code.hasError('required')">
              Category code required.
            </mat-error>
          </mat-form-field>
        </div>
        <input type="hidden" formControlName="status">
        <input type="hidden" formControlName="id">
        <input type="hidden" formControlName="parent_category">
        <div mat-dialog-actions>
          <button mat-button (click)="onCancel()">Cancel</button>
          <button mat-button (click)="addCategory()" cdkFocusInitial>Add</button>
        </div>
      </form>
    </div>

  </div>
</div>
